<div id="container">
<div id="main">
	<div id="subNav">
    	<h3>ヒープソート（Heapsort）</h3>
        <p>数列を昇順（or 降順）に整列させるアルゴリズム<br>
          heapを作り，最大
        </p>
	</div>
    <a>挿入ソート</a>　　<a>演習問題</a>　    　<a href="/">ホーム</a>
</div><!-- /main -->
<hr>
<div id="code" class="codes">
<div id="editor" class="avoid-clicks" style="width:100%; height: 450px">
<b>//データ</b>
 配列 = [4,3,9,1,5,6,8];

<b>//目的</b>
 <span>配列を昇順に整列させる</span>

<b>//処理</b>

！！！！！未完成！！！
ヒープする
入れ替える
決定する




終了
</div>
</div><!-- /code -->
<div id="anime">
    <p>画面クリックで説明</p>
    <anime>

    </anime>
</div><!-- /anime -->
<div id="sub">

</div><!-- /sub -->
</div><!-- /container -->
<hr>
<script src="/js/src-min/ace.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>-->
<script>
  var editor = ace.edit("editor");
  editor.renderer.setShowGutter(false);
  //editor.$blockScrolling = Infinity;
  editor.setOptions({
    //enableBasicAutocompletion: true,
    //enableSnippets: true,
    //_enableLiveAutocompletion: true
  });
  editor.setTheme("ace/theme/monokai");//clouds,monokai,chrome
  editor.getSession().setMode("ace/mode/javascript");
    document.getElementById('editor').style.visibility="visible";
</script>
<script src="/js/d3.min.js" type="text/javascript" ></script>
<script src="/js/heapsort.js" type="text/javascript" ></script>

