<script src="/js/app.js" type="text/javascript" ></script>

<div class="container-fluid">
  <div id="main" class="container-fluid">
    <div id="subNav">
			<h3 class="bold">k近傍法</h3>
			<p>テストデータのカテゴリーを推定する方法。</p>
			<p>訓練データのなかからテストデータとの距離が短い順にk個取り出し、多数決によってテストデータのカテゴリーを推定する。</p>
    </div>
  </div><!-- /main -->
  <br>
  <br>
  <!-- tab -->
  <div class="tabbale">
    <div id="content">
      <ul class="nav nav-tabs">
      <li class="active"><a href="#">アルゴリズムの解説</a></li>
      <li><a href="/que_knn">演習問題</a></li>
      </ul>
     </div>
   </div> <!-- container -->
   <br>

<div id="editor" class="avoid-clicks" style="height: 460px">//データ
 訓練データ = [(a0,b0),(a1,b1),...,,(a6,b6)]
 カテゴリ = [赤,青,...,赤]

//目的</b><br>
 緑が赤か青か予測する

//処理
 for データ in 訓練データ:
  各距離 = 各データと緑の距離
  近傍の大きさ = ここでは3
  
  for 近傍内の要素:
   if 要素のカテゴリ == 赤:
     赤の数 += 1
   else if 要素のカテゴリ == 青:
     青の数 += 1

  if赤の数 &gt; 青の数:
    return 赤
  else if 赤の数 &lt; 青の数:
    return 青
 終了
</div><!-- /editor -->

<div id="anime">
	<p>画面クリックで説明</p>
	<canvas width="700" height="450px" id="sample" onClick="anime(3)">
	図形を表示するには、canvasタグをサポートしたブラウザが必要です。
	</canvas>

</div><!-- /anime -->
<div id="sub">

</div><!-- /sub -->
</div><!-- /container -->

<script src="/js/src-min/ace.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>-->
<script>
  var editor = ace.edit("editor");
  editor.renderer.setShowGutter(false);
  //editor.$blockScrolling = Infinity;
  editor.setOptions({
    //enableBasicAutocompletion: true,
    //enableSnippets: true,
    //_enableLiveAutocompletion: true
  });
  editor.setTheme("ace/theme/monokai");//clouds,monokai,chrome
  editor.getSession().setMode("ace/mode/javascript");
    document.getElementById('editor').style.visibility="visible";
</script>
<script src="/js/d3.min.js" type="text/javascript" ></script>

<script src="/js/knn.js" type="text/javascript" ></script>

