<div class="container-fluid">
  <div id="main" class="container-fluid">
      <div id="subNav">
        <h3 class="bold">ヒープソート（Heapsort）</h3>
        <p>数列を昇順（or 降順）に整列させるアルゴリズム<br><br>
          ヒープ構造を利用して整列する。
        </p>
      </div>
  </div><!-- /main -->
  <br>
  <br>
  <!-- tab -->
  <div class="tabbale">
      <div id="content">
          <ul class="nav nav-tabs">
          <li class="active"><a href="#">アルゴリズムの解説</a></li>
          <li><a style="color:#000000;pointer-events:none;"></a></li>
          </ul>
      </div>
  </div>
  <br>

<div id="editor" class="avoid-clicks" style="height: 480px">
<b>//データ</b>
 配列 = [4,3,9,1,5,6,8];

<b>//目的</b>
 <span>配列を昇順に整列させる</span>

<b>//処理</b>

while 未確定要素がある
  未確定要素でヒープを作る
  最大値(root)と末端を入れ替える
  入れ替えた最大値を確定済みとする
終了





"上の絵がヒープ構造の木表現"
"下の絵がヒープ構造の配列表現"
</div><!-- /editor -->
<div id="anime">
    <p>画面クリックで説明</p>
    <anime>
    </anime>
</div><!-- /anime -->
<div id="sub">

</div><!-- /sub -->
</div><!-- /container -->
<br>
<script src="/js/src-min/ace.js"></script>
<script>
  var editor = ace.edit("editor");
  editor.renderer.setShowGutter(false);
  editor.setOptions({highlightActiveLine:false});
  editor.setTheme("ace/theme/monokai");//clouds,monokai,chrome
  editor.getSession().setMode("ace/mode/javascript");
</script>
<script src="/js/d3.min.js" type="text/javascript" ></script>
<script src="/js/heapsort.js" type="text/javascript" ></script>