<div class="container-fluid">
  <div id="main" class="container-fluid">
    <div id="subNav">
      <h3 class="bold">バブルソート</h3>
        <p>数列を昇順（or 降順）に整列させるアルゴリズム<br>
        隣り合う要素の大小を比較しながら整列させる。
        </p>
    </div>
  </div><!-- /main -->
  <br>
  <br>
  <!-- tab -->
  <div class="tabbale">
    <div id="content">
      <ul class="nav nav-tabs">
      <li class="active"><a href="#">アルゴリズムの解説</a></li>
      <li><a href="" style="color:#000000;pointer-events:none;"></a></li>
      </ul>
     </div>
   </div> <!-- container -->
   <br>

<div id="editor" class="avoid-clicks" style="height: 400px">
<b>//データ</b>
 配列 = [5,9,8,3,1,6,4]

<b>//目的</b>
 <span>配列を昇順に整列させる</span>

<b>//処理</b>
while 未確定要素がある:

  for i in {0...未確定数-1}:
    if 配列[i]>配列[i+1]:
        右隣の要素と入れ替える
    else:
        入れ替えない
  右端の要素を確定する
終了
</div><!-- /editor -->
<div id="anime">
    <p>画面クリックで説明</p>
    <anime>

    </anime>
</div><!-- /anime -->
<div id="sub">

</div><!-- /sub -->
</div><!-- /container -->
<hr>
<script src="/js/src-min/ace.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>-->
<script>
  var editor = ace.edit("editor");
  editor.renderer.setShowGutter(false);
  editor.setOptions({highlightActiveLine:false});
  editor.setTheme("ace/theme/monokai");//clouds,monokai,chrome
  editor.getSession().setMode("ace/mode/javascript");
    document.getElementById('editor').style.visibility="visible";
</script>
<script src="/js/d3.min.js" type="text/javascript" ></script>
<script src="/js/bubblesort.js" type="text/javascript" ></script>

