<div class="container-fluid">
  <div id="main" class="container-fluid">
      <div id="subNav">
        <h2 class="bold">挿入ソート</h2>
        <p>数列を昇順（or 降順）に整列させるアルゴリズム<br>
        整列してある配列に追加要素を適切な場所に挿入する。
        </p>
      </div>
  </div><!-- /main -->
  <br>
  <br>
  <!-- tab -->
  <div class="tabbale">
      <div id="content">
          <ul class="nav nav-tabs">
          <li class="active"><a href="#">アルゴリズムの解説</a></li>
          <li><a style="color:#000000;pointer-events:none;"></a></li>
          </ul>
      </div>
  </div>
  <br>

<div id="editor" class="avoid-clicks" style="height: 400px">
  <b>//データ</b>
   配列 = [5,9,8,3,1,6,4]

  <b>//目的</b>
   <span>配列を昇順に整列させる</span>

  <b>//処理</b>
  for i = 1〜要素数-1:
    挿入要素 = 配列[i]
    if 挿入要素 &lt; 左隣:
       挿入場所 = i
       while 挿入要素 &lt; 配列[挿入場所-1]:
             比較した要素を右にずらす
             挿入場所を一つ左
       配列[挿入場所] = 挿入要素
  終了
</div><!-- /editor -->
<div id="anime">
    <p>画面クリックで説明</p>
    <anime>

    </anime>
</div><!-- /anime -->
<div id="sub">

</div><!-- /sub -->
</div><!-- /container -->
<br>
<script src="/js/src-min/ace.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>-->
<script>
  var editor = ace.edit("editor");
  editor.renderer.setShowGutter(false);
  editor.setOptions({highlightActiveLine:false});
  editor.setTheme("ace/theme/monokai");//clouds,monokai,chrome
  editor.getSession().setMode("ace/mode/javascript");
    document.getElementById('editor').style.visibility="visible";
</script>
<script src="/js/d3.min.js" type="text/javascript" ></script>
<script src="/js/insertionsort.js" type="text/javascript" ></script>
</div><!-- /container -->


