<div id="container">
<div id="main">
	<div id="subNav">
    	<h3>クイックソート</h3>
        <p>価値と重さが決まっている複数の品物を容量が一定のナップザックに詰め込むとき、ナップザック内の価値の和が最大となる組み合わせはのは何であるかを求める問題。<br>
        具体的には、容量15kgのナップザックがあり，周囲の入れ物（箱）に書かれている数字が価値と重さを表しています。</p>
	</div>
    <a href="anime_quicksort">クイックソート</a>　　<a>演習問題</a>　    　<a href="/">ホーム</a>
</div><!-- /main -->
<hr>
<div id="code" class="codes">
<div id="editor" class="avoid-clicks" style="width:100%; height: 400px"><b>//データ</b>
    配列
<b>//目的</b>
<span>数字を降順に並べ直す</span>
<b>//処理</b>
クイックソート関数(配列):
    if 配列の要素数 &lt;= 1:
        return 配列
    else:
        ピポット = 配列の要素のどれか
        left  = ピポット以下の配列の要素すべて
        right = ピポットより大きい配列の要素すべて
        // 左右個別にソートする。
        左側 = クイックソート関数(left)
        右側 = クイックソート関数(right)

        return 左側 + [ピポット] + 右側
</div>
</div><!-- /code -->
<div id="anime">
    <p>画面クリックで説明</p>
    <anime>
        
    </anime>
</div><!-- /anime -->
<div id="sub">

</div><!-- /sub -->
</div><!-- /container -->
<hr>
<script src="/js/src-min/ace.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>-->
<script>
  var editor = ace.edit("editor");
  editor.renderer.setShowGutter(false);
  //editor.$blockScrolling = Infinity;
  editor.setOptions({
    //enableBasicAutocompletion: true,
    //enableSnippets: true,
    //_enableLiveAutocompletion: true
  });
  editor.setTheme("ace/theme/monokai");//clouds,monokai,chrome
  editor.getSession().setMode("ace/mode/javascript");
    document.getElementById('editor').style.visibility="visible";
</script>
<script src="/js/d3.min.js" type="text/javascript" ></script>
<script src="/js/quicksort.js" type="text/javascript" ></script>

