<div id="container">
<div id="main">
		<div id="subNav">
			<h3>k近傍方</h3>
			<p>訓練データとの距離が短い順にk個のデータを取り出し、</br>多数決によってテストデータが所属するカテゴリーを推定する方法。</p>
		</div>
    <a href="/anime_knn">戻る</a>　　<a href="/">ホーム</a>
</div><!-- /main -->
<div id="question">
  <h3>問題</h3>
  <p>ダミー</p>

</div><!-- /question -->
<div id="send_form">
  <form action="ans_kmean" method="POST">
    <div>
      回答:<input type="text" name="answer" value="">
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>
  </form>
</div><!-- /send_form -->
  <div>
    <div>
      正誤: <%=@judge%> : <%=@rate%>%
    </div>
  </div>
<div id="sub">
  <h3>他の問題へチャレンジ</h3>
  <a href="https://www.kaggle.com/c/sf-crime">kaggle(データ分析のコンペサイト)</a>のサンフランシスコ犯罪カテゴリー推定問題
  <h3>参考文献</h3>
  <a href="http://qiita.com/yshi12/items/26771139672d40a0be32">K近傍法(多クラス分類)</a>
</div><!-- /sub -->
</div><!-- /container -->