<div id="container">
<div id="main">
</div><!-- /main -->
<div id="define">
	<h3>k近傍方</h3>
	<p>訓練データとの距離が短い順にk個の判定用データを取り出し、</br>多数決によってテストデータが所属するカテゴリーを推定する方法。</p>
</div>
<div id="anime">
	<canvas width="700" height="450" id="sample">
	図形を表示するには、canvasタグをサポートしたブラウザが必要です。
	</canvas>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p>
		<input type="button" value="ステップ" onClick="anime(3)">
	</p>

</div><!-- /anime -->

<div id="sub">
	<a href="/">ホーム</a>
	<a href="/anime_knn">次</a>
</div><!-- /sub -->
</div><!-- /container -->