<link rel="stylesheet" href="/css/dijkstra2.css">
<div class="container-fluid">
	<div id="main" class="container-fluid">
		<div id="subNav">
			<h3 class="bold">ダイクストラ法</h3>
			<p>最短経路を求めるアルゴリズム</p>
			<p>最短経路問題は、総当たりで解こうとすると膨大な時間がかかる。ダイクストラ法やその応用であるA*アルゴリズムは、最良優先探索、つまり、最もよさそうな選択肢から優先的に調べていくことで、大幅な効率化と計算時間の短縮が見込める。カーナビなど実用例も多い。</p>
		</div>
	</div><!-- /main -->
	<br>
	<br>
  <!-- tab -->
  <div class="tabbale">
    <div id="content">
      <ul class="nav nav-tabs">
      <li><a href="/dijkstra">アルゴリズムの解説</a></li>
      <li class="active"><a>演習問題</a></li>
      </ul>
     </div>
   </div> <!-- container -->
   <br>
   
	<div id='content'>
		<canvas width="550" height="300" id="sample">
			図形を表示するには、canvasタグをサポートしたブラウザが必要です。
		</canvas>
		<p>
			<p>ダイクストラ法を使い、AからFへ至る最短経路を求めよ。</p>
			<br>
			<h4>グラフの表現</h4>
			各頂点がどの頂点とつながっているかを管理するため、以下のような行列を考える。<br>
			<div id='matrix'></div>
			<p>
				例えばBとEは距離<span id='distBE'></span>でつながっており、CとFはつながっていないことが、この行列からわかる。
			</p>
			<br>
			<h4>回答</h4>
			<form id='myForm'>
				最短経路：<input type='text' id='myInput'><input type='submit' value='送信'>　例) ABDF
			</form>
			<p>結果：  <span id='myMessage'></span></p>
			<hr>
			<h3>他の問題にチャレンジ</h3>
			<a target='_blank' href='https://projecteuler.net/problem=83'>Problem 83 - Project Euler</a>
			<h3>参考文献</h3>
			<br>
		</p>
	</div><!-- /contetnt -->
</div><!-- /container -->
<script src='/js/dijkstra2.js'></script>