<!--header-->
<header class="jumbotron">
	<div class="container">
		<h1>Algorithm is fun!</h1>
		<p>絵とアニメーションで理解する</p>
		<p><a href="/#detail" class="btn btn-lg midashi-btn" role="button">もっと詳しく &raquo;</a></p>
        <a name="detail"></a>
	</div>
</header>


<a name="contents"></a>
<div class="container main-content">
	<div class="row">
		<div class="col-md-9 content-area">
		</div><!--content-area-->
		<div class="col-md-3 sidebar">
		</div><!--sidebar-->
	</div>
</div>




<div id="content">
    <div class="container">
        <h2 class="title">H2 TITLE HERE</h2>
        <!-- /title -->
        <p style="text-align: center;">以下のコンテンツによりアルゴリズムのスキルを高めることができます。<br>
        	簡単なものから高度なレベルまでこれらの範囲と頻繁に技術的なインタビューに求められます。</p>
        <div class="row">
        </div>
        <!-- /text-box -->
        <div class="row">
        	<a href="/dijkstra">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/dijkstra.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">ダイクストラ法</div>
                </div>
            </div>
          </a>
          <a href="a_star">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/A*.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">A*アルゴリズム</div>
                </div>
            </div>
          </a>
          <a href="def_ga">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/ナップザック.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">遺伝的アルゴリズム</div>
                </div>
            </div>
          </a>
        </div>
        <div class="row">
        	<a href="/anime_bubblesort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/bubblesort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">バブルソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_quicksort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/quicksort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">クイックソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_heapsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/heapsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">ヒープソート</div>
                </div>
            </div>
          </a>
        </div>
        <div class="row">
        	<a href="/anime_insertionsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/insertionsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">挿入ソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_selectsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/selectsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">選択ソート</div>
                </div>
            </div>
          </a>
          <a href="/maxvalue">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/maxvalue.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">最大値</div>
                </div>
            </div>
        </div>
        <div class="row">
        	<a href="anime_knn">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/k近傍法.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">k近傍法</div>
                </div>
            </div>
          </a>
        </div>
        <!-- /panel-box -->
    </div>
    <!-- /container -->
</div>
<!-- /content -->



<a name="about"></a>
<div class="message-area text-center">
    <p class="message-font pt30">About Us</p>
    <div class="container ptb50">
        <div class="information user-description col-md-12">
            <div class="icon">
                <image src="/img/mypf.png" class="img-circle member-image" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></image>
            </div>
            <p class="title">
                shimazu tsinehiko
            </p>
            <p class="body">
            	Founder
            </p>
        </div>
    </div>
</div>
<!--
<div class="message-area text-center">
    <p class="message-font pt30">利用者の声</p>
    <div class="container ptb50">
        <div class="information user-description col-md-4">
            <div class="icon">
                <span class="img-circle member-image " style="image:url(/img/mypf.png);background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></span>
            </div>
            <p class="title">
                Aさん
            </p>
            <p class="body">
                とても勉強になりました。
            </p>
        </div>
        <div class="information user-description col-md-4">
            <div class="icon">
                <span class="img-circle member-image" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></span>
            </div>
            <p class="title">
                Bさん
            </p>
            <p class="body">
                とても勉強になりました。
            </p>
        </div>
        <div class="information user-description col-md-4">
            <div class="icon">
                <span class="img-circle member-image" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></span>
            </div>
            <p class="title">
                Cさん
            </p>
            <p class="body">
                とても勉強になりました。
            </p>
        </div>
    </div>
</div>
-->
<a name="contact"></a>
<div id="container">
	<div id="main">
		</div><!-- /main -->
	<div id="sub">
	</div><!-- /sub -->
  <div class="container text-center">
    <h2 class="message-font pt30">アンケート</h2>
    <br>
    <br>
    <a class="btn btn-primary btn-lg" role="button" href="http://goo.gl/forms/UDfyKHdE4wjm3dBe2">1〜100の和がわかるあなたへ</a>
  </div>
  <br>
  <br>
  <br>
  <br>
</div><!-- /container -->
<div class="container">
	<!--<iframe src="https://docs.google.com/forms/d/1Q7Af956TDKC571sixp8PGjb4YSOuvqdVKL2gZTbNJxw/viewform?embedded=true" width="100%" height="1000px" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>-->
</div>
<link href="/css/index.css" rel="stylesheet">


