<div id="container">
	<div id="main">
			<div id="subNav">
				<span>Library of Algorithm</span>は 視覚化と擬似コードによってアルゴリズムを理解するサイトです。<br><br>
			</div>
			<br>
			<h3>サイトを作った理由</h3>
			<p>知らないアルゴリズムの勉強や実装ってなかなか難しい。だから下の図のような立ち位置のサイトあったらいいな。。。っと思ったから</p>
			<img src="/img/index.png">
			<h3>ターゲット</h3>
			<p>
				・アルゴリズムが好きな人<br>
				・プログラミングの勉強法で「とにかく何か作る」って書いてあるけど，なにを作ったらいいのかわからない初心者〜中級者<br>
				・データサイエンス系コンペや競技プログラミングに出てみたいけどその前に練習したい人<br>
				・「遺伝的アルゴリズム」「A*アルゴリズム」とか言葉では知っているけど実装までは。。。という人<br>
			</p>
		</div><!-- /main -->
	<div id="sub">
		<h3>サンプル</h3>
		<a href="maxvalue">最大値</a>
		<a href="dijkstra">ダイクストラ法</a>
		<a href="anime_knn">K近傍法</a>
		<a href="def_ga">遺伝的アルゴリズム</a>
	</div><!-- /sub -->
</div><!-- /container -->