<div id="header">
	<!-- <div id="footerNavLink"><a href="#footerNav"></a></div> -->
	<!--<div id="footerNavLink"><a href="#footerNav"></a></div>-->
	
	<h1></h1>
</div><!-- /header -->

<div id="container">
	<div id="main">
			<h1>Library of Algorithms　α版</h1>
			<div id="subNav">
				<span style="color:red">Library of Algorithm</span>は，視覚化と擬似コードによってアルゴリズムを理解するサイトです。<br><br>
			</div>
			<br>
	</div><!-- /main -->
	<div id="sub">
		<a href="def_kmean">K近傍法</a>
	</div><!-- /sub -->
</div><!-- /container -->