<!--header-->
<header class="jumbotron">

<div class="container-fluid">
<div id="editor" class="avoid-clicks" style="font-size:13px; weight:300px; height: 380px"> 
<b>//データ</b>
配列 = [5,9,8,3,1,6,4]

<b>//目的</b>
<span>配列を昇順に整列させる</span>

<b>//処理</b>
for i = 1〜要素数-1:
  挿入要素 = 配列[i]
  if 挿入要素 &lt; 左隣:
    挿入場所 = i
    while 挿入要素 &lt; 配列[挿入場所-1]:
         比較した要素を右にずらす
         挿入場所を一つ左
    配列[挿入場所] = 挿入要素
終了


"例：挿入ソート"
    </div><!-- /editor -->
    <div id="anime">
        <anime>
        </anime>
    </div><!-- /anime -->
</div>
<br>
	<div class="container">
		<p><a href="/#detail" class="btn btn-lg midashi-btn" role="button">もっと詳しく &raquo;</a></p>
        <a name="detail"></a>
	</div>
</header>


<a name="contents"></a>
<div class="container main-content">
	<div class="row">
		<div class="col-md-9 content-area">
		</div><!--content-area-->
		<div class="col-md-3 sidebar">
		</div><!--sidebar-->
	</div>
</div>


<div id="content">
    <div class="container">
        <h2 class="title">多彩なコンテンツ</h2>
        <!-- /title -->
        <p style="text-align: center;">以下のコンテンツによりアルゴリズムのスキルを高めることができます。<br>
        	簡単なものから高度なレベルまでこれらの範囲と頻繁に技術的なインタビューに求められます。</p>
        <div class="row">
        </div>
        <!-- /text-box -->
        <div class="row">
        	<a href="/anime_bubblesort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/bubblesort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">バブルソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_quicksort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/quicksort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">クイックソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_heapsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/heapsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">ヒープソート</div>
                </div>
            </div>
          </a>
        </div>
        <div class="row">
        	<a href="/anime_insertionsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/insertionsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">挿入ソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_selectsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/selectsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">選択ソート</div>
                </div>
            </div>
          </a>
          <a href="/maxvalue">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/maxvalue.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">最大値</div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="/dijkstra">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/dijkstra.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">ダイクストラ法</div>
                </div>
            </div>
          </a>
          <a href="a_star">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/A*.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">A*アルゴリズム</div>
                </div>
            </div>
          </a>
          <a href="def_ga">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/ナップザック.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">遺伝的アルゴリズム</div>
                </div>
            </div>
          </a>
        </div>
        <div class="row">
        	<a href="anime_knn">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/k近傍法.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">k近傍法</div>
                </div>
            </div>
          </a>
        </div>
        <!-- /panel-box -->
    </div>
    <!-- /container -->
</div>
<!-- /content -->



<a name="contact"></a>
<div class="message-area text-center">
    <p class="message-font pt30">CONTACT</p>
    <div class="container ptb50">
        <div class="information user-description col-md-12">
            <div class="icon">
                <image src="/img/mypf.png" class="img-circle member-image" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></image>
            </div>
            <p class="title">
                shimazu tsinehiko
            </p>
            <p class="body">
            	Founder
            </p>
            <a href="https://twitter.com/simanezumi1989"><image style="background-color:#55ACEE" src="/img/TwitterLogo_white.png" class="img-circle " width="50px" height="50px"/></a>　　
            <a href="https://aboutme.google.com/u/0/?referer=gplus"><image style="background-color:#DD4B39;" src="/img/google.svg" class="img-circle " width="50px" height="50px"/></a>
        </div>
    </div>
</div>
<!--
<div class="message-area text-center">
    <p class="message-font pt30">利用者の声</p>
    <div class="container ptb50">
        <div class="information user-description col-md-4">
            <div class="icon">
                <span class="img-circle member-image " style="image:url(/img/mypf.png);background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></span>
            </div>
            <p class="title">
                Aさん
            </p>
            <p class="body">
                とても勉強になりました。
            </p>
        </div>
        <div class="information user-description col-md-4">
            <div class="icon">
                <span class="img-circle member-image" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></span>
            </div>
            <p class="title">
                Bさん
            </p>
            <p class="body">
                とても勉強になりました。
            </p>
        </div>
        <div class="information user-description col-md-4">
            <div class="icon">
                <span class="img-circle member-image" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></span>
            </div>
            <p class="title">
                Cさん
            </p>
            <p class="body">
                とても勉強になりました。
            </p>
        </div>
    </div>
</div>
-->
<a name="form"></a>
<div id="container">
	<div id="main">
		</div><!-- /main -->
	<div id="sub">
	</div><!-- /sub -->
  <div class="container text-center">
    <h2 class="message-font pt30"></h2>
    <br>
    <br>
    <div><a class="btn btn-primary btn-lg" role="button" href="https://docs.google.com/forms/d/1Q7Af956TDKC571sixp8PGjb4YSOuvqdVKL2gZTbNJxw/viewform">他のアルゴリズムも知りたい方へ</a></div><br>
  </div>
  <br>
  <br>
  <br>
  <br>
</div><!-- /container -->
<div class="container">
	<!--<iframe src="https://docs.google.com/forms/d/1Q7Af956TDKC571sixp8PGjb4YSOuvqdVKL2gZTbNJxw/viewform?embedded=true" width="100%" height="1000px" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>-->
</div>
<script src="/js/src-min/ace.js"></script>
<script>
  var editor = ace.edit("editor");
  editor.renderer.setShowGutter(false);
  editor.setOptions({highlightActiveLine:false});
  editor.setTheme("ace/theme/monokai");//clouds,monokai,chrome
  editor.getSession().setMode("ace/mode/javascript");
    document.getElementById('editor').style.visibility="visible";
</script>


<link href="/css/index.css" rel="stylesheet">
<script src="/js/d3.min.js" type="text/javascript" ></script>
<script src="/js/index.js" type="text/javascript" ></script>