
<!--header-->
<header class="jumbotron">

<div class="container">
    <h1><b>A better way !</b></h1>
    <p>　<b>擬似コード</b>と<b>イラスト</b>でアリゴリズムを理解する。</p>
<div id="editor" class="avoid-clicks" style="height: 260px"> 
"例：挿入ソート"

for i = 1〜要素数-1:
  挿入要素 = 配列[i]
  if 挿入要素 &lt; 左隣:
    挿入場所 = i
    while 挿入要素 &lt; 配列[挿入場所-1]:
         比較した要素を右にずらす
         挿入場所を一つ左
    配列[挿入場所] = 挿入要素
終了

    </div><!-- /editor -->
    <div id="anime">
        <anime>
        </anime>
    </div><!-- /anime -->
</div>
<a id="detail"></a>
	<div class="container">
		<p><a href="/#detail" class="btn btn-lg midashi-btn" role="button">もっと詳しく &raquo;</a></p>
	</div>
</header>
<div id="about" class="main-content container">
    <h2 class="title">より良い方法</h2><!-- /title -->
    <div class="row">
        <div class="col-md-4 sidebar">
            <p><img src="/img/code.svg" class="panel-body img-responsive center-block"/></p>
        </div><!--sidebar-->
        <div class="col-md-8 content-area">
            <p>よく知られているように，<b>アルゴリズム</b>を学べば<b>より良い方法</b>に巡り会える。しかし，既存の学習ツールはアニメーションのような<b>動的な概要説明</b>か実装コードによる<b>静的で複雑な説明</b>に偏っている。本サイトはアルゴリズムの学習ツールとして<b>より良い方法</b>を提供する。</p>
        </div><!--content-area-->
    </div>
</div>
<a name="contents"></a>


<div id="content">
    <div class="container">
        <h2 class="title">CONTENTS</h2><!-- /title -->
        <p class="container" style="text-align: center">
            本サイトは図解と擬似コードの連携により，<b>動的で詳細な説明</b>を行うコンテンツを生成した。</p>

        <div class="row">
        </div>
        <br>
        <!-- /text-box -->
        <div class="row">
        	<a href="/anime_bubblesort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/bubblesort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">バブルソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_quicksort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/quicksort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">クイックソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_heapsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/heapsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">ヒープソート</div>
                </div>
            </div>
          </a>
        </div>
        <div class="row">
        	<a href="/anime_insertionsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/insertionsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">挿入ソート</div>
                </div>
            </div>
          </a>
          <a href="/anime_selectsort">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/selectsort.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">選択ソート</div>
                </div>
            </div>
          </a>
          <a href="/maxvalue">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/maxvalue.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">最大値</div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="/dijkstra">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/dijkstra.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">ダイクストラ法</div>
                </div>
            </div>
          </a>
          <a href="a_star">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/A*.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">A*アルゴリズム</div>
                </div>
            </div>
          </a>
          <a href="def_ga">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/ナップザック.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">遺伝的アルゴリズム</div>
                </div>
            </div>
          </a>
        </div>
        <div class="row">
        	<a href="anime_knn">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <img src="/img/k近傍法.png" class="panel-body img-responsive center-block"/>
                    <div class="panel-footer">k近傍法</div>
                </div>
            </div>
          </a>
        </div>
        <!-- /panel-box -->
    </div>
    <!-- /container -->
</div>
<!-- /content -->





<div class="message-area text-center">
    <p class=" message-font pt30">利用者の声</p>
    <div class="container ptb50">
        <div class="information user-description col-md-4">
            <div class="icon">
                <image style="background-color:#fff;" src="/img/人1.svg" class="img-circle " width="100px" height="100px"/>
            </div>
            <p class="title">
                学生
            </p>
            <p class="body">
                アニメーションが綺麗でわかりやすい。
            </p>
        </div>
        <div class="information user-description col-md-4">
            <div class="icon">
                <image style="background-color:#fff;" src="/img/人2.svg" class="img-circle " width="100px" height="100px"/>
            </div>
            <p class="title">
                会社員
            </p>
            <p class="body">
                ダイクストラ法の流れがわかった。
            </p>
        </div>
        <div class="information user-description col-md-4">
            <div class="icon">
                <image style="background-color:#fff;" src="/img/人3.svg" class="img-circle " width="100px" height="100px"/>
            </div>
            <p class="title">
                職業不明
            </p>
            <p class="body">
                ありそうでなかったサイト。<br>これからに期待！
            </p>
        </div>
    </div>
</div>

<a name="contact"></a>
<div class=" text-center">
    <h2>CONTACT</h2>
    <div class="container ptb50">
        <div class="information user-description col-md-12">
            <div class="icon">
                <image src="/img/mypf.png" class="img-circle member-image" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></image>
            </div>
            <p class="title">
                shimazu tsinehiko
            </p>
            <p class="body">
                Founder
            </p>
            <a href="https://twitter.com/simanezumi1989"><image style="background-color:#55ACEE" src="/img/TwitterLogo_white.png" class="img-circle circle-border" width="50px" height="50px"/></a>　
            <a title="はてなブログ" href="http://simanezumi1989.hatenablog.com"><image style="background-color:#fff" src="/img/hatenablog-logo.svg" class="img-circle circle-border" width="50px" height="50px"/></a>　
            <a href="https://aboutme.google.com/u/0/?referer=gplus"><image style="background-color:#DD4B39;" src="/img/google.svg" class="img-circle circle-border" width="50px" height="50px"/></a>
        </div>
    </div>
</div>




<script src="/js/src-min/ace.js"></script>
<script>
  var editor = ace.edit("editor");
  editor.renderer.setShowGutter(false);
  editor.setOptions({highlightActiveLine:false});
  editor.setTheme("ace/theme/monokai");//clouds,monokai,chrome
  editor.getSession().setMode("ace/mode/javascript");
  document.getElementById('editor').style.visibility="visible";
</script>


<link href="/css/index.css" rel="stylesheet">
<script src="/js/d3.min.js" type="text/javascript" ></script>
<script src="/js/index.js" type="text/javascript" ></script>