<!DOCTYPE html>
<html lang='ja'>
<head>
	<meta charset='utf-8'>
	<meta name="description" content="アルゴリズムを視覚的に理解するサイト">
	<link rel="stylesheet" href="/css/app.css">
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/jquery.iframetracker.js"></script>	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-64867854-2', 'auto');
	  ga('send', 'pageview');
	</script>
	<title>Library of Algorithms</title>
	<script >
  </script>
</head>
<body>
	<div id="header">
	<!-- <div id="footerNavLink"><a href="#footerNav"></a></div> -->
	<!--<div id="footerNavLink"><a href="#footerNav"></a></div>-->
		<h1>Library of Algorithms　α版</h1>
	</div><!-- /header -->
	<%= yield %>
	<br>
	<h3>アンケート</h3>
	<a href="http://goo.gl/forms/UDfyKHdE4wjm3dBe2">1〜100の和がわかるあなたへ</a>
	<div id="footer">
	<div id="footerNav"></div>
	<p id="copyright">&copy; 2016 S.T</p>	

</div><!-- /footer -->
</body>
</html>
