<!DOCTYPE html>
<html lang='ja'>
<head>
	<meta charset='utf-8'>
	<meta name="description" content="アルゴリズムを視覚的に理解するサイト">
	<link rel="stylesheet" href="/css/app.css">
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/jquery.iframetracker.js"></script>	

	<title>Library of Algorithms</title>
	<script >
  </script>
</head>
<body>
	<div id="header">
	<!-- <div id="footerNavLink"><a href="#footerNav"></a></div> -->
	<!--<div id="footerNavLink"><a href="#footerNav"></a></div>-->
		<h1>Library of Algorithms　α版</h1>
	</div><!-- /header -->
	<%= yield %>
	<div id="footer">
	<div id="footerNav"></div>
	<p id="copyright">&copy; 2016 嶋津 恒彦</p>
</div><!-- /footer -->
</body>
</html>
