<div id="container">
<div id="main">
		<div id="subNav">
			<h3>k近傍方</h3>
			<p>訓練データとの距離が短い順にk個のデータを取り出し、</br>多数決によってテストデータが所属するカテゴリーを推定する方法。</p>
		</div>
		<a href="/anime_kmean">戻る</a>　　<a href="/">ホーム</a>
    <hr>
</div><!-- /main -->
<div id="question">
  <h3>アヤメ（植物）の品種分類問題</h3>
  訓練データからテストデータのアヤメの品種を推定せよ。
  <p>
    <b>訓練データ</b><br>
    「がくの長さ,幅」= [[5.8,2.8],
    [6.0,2.2],
    [5.5,4.2],
    [7.3,2.9],
    [5.0,3.4],
    [6.3,3.3],
    [5.0,3.5],
    [6.7,3.1],
    [6.8,2.8],
    [6.1,2.8],
    [6.1,2.6],
    [6.4,3.2],
    [6.1,2.8],
    [6.5,2.8],
    [6.1,2.9],
    [4.9,3.1],
    [6.0,2.9],
    [5.5,2.6],
    [4.8,3.0],
    [5.4,3.9],
    [5.6,2.8],
    [5.6,3.0],
    [4.8,3.4],
    [4.4,2.9],
    [6.2,2.8],
    [4.6,3.6],
    [5.1,3.8],
    [6.2,2.9],
    [5.0,2.3],
    [5.0,3.4],
    [6.4,3.1],
    [5.4,3.0],
    [5.2,3.5],
    [6.1,3.0],
    [6.4,2.8],
    [5.2,2.7],
    [5.7,3.8],
    [6.0,2.7],
    [5.9,3.0],
    [5.8,2.6],
    [6.8,3.0],
    [4.7,3.2],
    [6.9,3.1],
    [5.0,3.5],
    [5.4,3.7],
    [5.0,2.0],
    [6.5,3.0],
    [6.7,3.3],
    [6.0,2.2],
    [6.7,2.5],
    [5.6,2.5],
    [7.7,3.0],
    [6.3,3.3],
    [5.5,2.4],
    [6.3,2.7],
    [6.3,2.8],
    [4.9,2.5],
    [6.3,2.5],
    [7.0,3.2],
    [6.5,3.0],
    [6.0,3.4],
    [4.8,3.1],
    [5.8,2.7],
    [5.6,2.7],
    [5.6,2.9],
    [5.5,2.5],
    [6.1,3.0],
    [7.2,3.2],
    [5.3,3.7],
    [4.3,3.0],
    [6.4,2.7],
    [5.7,3.0],
    [5.4,3.4],
    [5.7,4.4],
    [6.9,3.1],
    [4.6,3.1],
    [5.9,3.0],
    [5.1,2.5],
    [4.6,3.4],
    [6.2,2.2],
    [7.2,3.6],
    [5.7,2.9],
    [4.8,3.0],
    [7.1,3.0],
    [6.9,3.2],
    [6.5,3.0],
    [6.4,2.8],
    [5.1,3.8],
    [4.8,3.4],
    [6.5,3.2],
    [6.7,3.3],
    [4.5,2.3],
    [6.2,3.4],
    [4.9,3.0],
    [5.7,2.5],
    [6.9,3.1],
    [4.4,3.2],
    [5.0,3.6],
    [7.2,3.0],
    [5.1,3.5],
    [4.4,3.0],
    [5.4,3.9],
    [5.5,2.3],
    [6.8,3.2],
    [7.6,3.0],
    [5.1,3.5],
    [4.9,3.1],
    [5.2,3.4],
    [5.7,2.8],
    [6.6,3.0],
    [5.0,3.2],
    [5.1,3.3],
    [6.4,2.9],
    [5.4,3.4],
    [7.7,2.6]]<br><br>
 カテゴリー=[
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 2,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 2,
 2,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 2]
  </p>
  <p>
    <b>テストデータ</b><br>
    「がくの長さ，幅」=[[4.9,2.4],
    [7.9,3.8],
    [6.7,3.1],
    [5.2,4.1],
    [6.0,3.0],
    [5.8,4.0],
    [7.7,2.8],
    [5.1,3.8],
    [4.7,3.2],
    [7.4,2.8],
    [5.0,3.3],
    [6.3,3.4],
    [5.7,2.8],
    [5.8,2.7],
    [5.7,2.6],
    [6.4,3.2],
    [6.7,3.0],
    [6.3,2.5],
    [6.7,3.0],
    [5.0,3.0],
    [5.5,2.4],
    [6.7,3.1],
    [5.8,2.7],
    [5.1,3.4],
    [6.6,2.9],
    [5.6,3.0],
    [5.9,3.2],
    [6.3,2.3],
    [5.5,3.5],
    [5.1,3.7],
    [4.9,3.1],
    [6.3,2.9],
    [5.8,2.7],
    [7.7,3.8],
    [4.6,3.2]]
  </p>
</div><!-- /question -->
<div id="send_form">
  <form action="ans_kmean" method="POST">
    <div>
      <b>回答</b><br>
      <input type="text" name="answer" value="">
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>
  </form>
</div><!-- /send_form -->
  <div>
    <div><!-- カンニングはいけませんよ！！ -->
      正誤: <%=@judge%> : <%=@rate%>%
    </div>
  </div>
<hr>
<div id="sub">
	<h3>他の問題へチャレンジ</h3>
	<a href="https://www.kaggle.com/c/sf-crime">kaggle(データ分析のコンペサイト)</a>のサンフランシスコ犯罪カテゴリー推定問題
	<h3>参考文献</h3>
	<a href="https://ja.wikipedia.org/wiki/K近傍法">k近傍法 - Wikipedia</a><br>
  <a href="http://qiita.com/yshi12/items/26771139672d40a0be32">K近傍法(多クラス分類)</a><br>
  <a href="http://hooktail.org/computer/index.php?k-%BA%C7%B6%E1%CB%B5%B7%E8%C4%EA%C2%A7">k-最近傍決定則 - [物理のかぎしっぽ]</a>
	<hr>
</div><!-- /sub -->
</div><!-- /container -->