
#container {
		overflow: hidden;
}
#main,#subNav{
	z-index: 2;
}
#anime{
	display:inline-block;
	width: 550px;
	/*background-color: pink;*/
	text-align: center;
}
#roulette_png,#ga_nap_png{
	position: relative;
	/*background-color: green;*/
}
#ga_nap_png{
	margin-top: 100px;
	/*background-color: green;*/
}

#code,#define{
	display:inline-block;
	float : left;
	width: 440px;
  /*background-color: red;*/
}

#footer{
	 position:relative;
	 bottom:0;
}
#code{
	font-size: 18px;
	font-family: sans-serif,"ＭＳ Ｐゴシック","MS PGothic";
}
#editor{
	visibility: hidden;
	font-size: 14px;
}
.avoid-clicks{
  pointer-events: none;
}

#sample {
	cursor: pointer;
}
.bold{
	font-weight: bold;
}
.monospace{
	font-family: monospace;
}
.code_highlight {
    background-color:	#0b2bd7;
    /*background-color:yellow;*/
    position: absolute;
}

