#code,#define{
	float : left;
	background-color: red;
}
#anime{
	background-color: pink;
}
#footer{
}
#code{
	font-family: "ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

#A0,#A1,#A2,#A3,#A4,#A5,#A6,#X{
	float : left;
	border-radius: 50%;
  position: relative;
  width: 20px;
  height: 20px;
}
#A0,#A1,#A2,#A3{
  background: blue;
}
#A4,#A5,#A6 {
  background: red;
}

#A0{
	top:80px;
	left:360px;
}
#A1{
	top:130px;
	left:450px;
}
#A2{
	top:160px;
	left:370px;
}
#A3{
	top:150px;
	left:300px;
}
#A4{
	top:190px;
	left:450px;
}
#A5{
	top:220px;
	left:450px;
}
#A6{
	top:290px;
	left:490px;
}
#X {
  background: green;
  top:120px;
	left:330px;
}




#obj {
  position: relative;
  width: 100px;
  height: 100px;
  background: #44A5CB;
  color: #fff;
}

