#container {
		overflow: hidden;
}
#main,#subNav{
	z-index: 2;
}
#anime{

	float : right;
	width: 54%;
	/*background-color: pink;*/
}
#roulette_png,#ga_nap_png{
	position: relative;
	/*background-color: green;*/
}

#code,#define{
	float : left;
	width: 44%;
	overflow: scroll;   /* スクロール表示 */ 
  height: 600px;
  /*background-color: red;*/
}

#footer{
	 position:relative;
	 bottom:0;
}
#code{
	font-size: 18px;
	font-family: sans-serif,"ＭＳ Ｐゴシック","MS PGothic";
}
.avoid-clicks{
  pointer-events: none;
}



.code_highlight {
    background-color:#000066;
    position: absolute;
}

