h2 {
	font-weight: bold;
	font-size: 50px
}
body {
		visibility: hidden;
}
footer {
  text-align: center;
  padding: 30px;
  background: #101010;
}

li {
	font-size: 20px;
	font-weight: 600;
}
a {
	font-size: 18px;
}

#main,#subNav{
	font-size: 18px
}

#anime{
	display:inline-block;
	width: 575px;
	/*background-color: pink;*/
	text-align: center;
}

svg {
	width: 575px;
	/*visibility: hidden;*/
	/*background-color: green;*/
}

#ga_nap_png, #def_ga {
	position: relative;
	/*background-color: green;*/
}
#ga_nap_png{
	margin-top: 100px;
	/*background-color: green;*/
}


#editor{
	display:inline-block;
	float : left;

	width: 380px;
	/*visibility: hidden;*/
	font-size: 14px;
	border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}


.avoid-clicks{
  pointer-events: none;
}

#myCanvas {
	cursor: pointer;
}
.bold{
	font-weight: bold;
}
.monospace{
	font-family: monospace;
}
.code_highlight {
    background-color:	#0b2bd7;
    /*background-color:yellow;*/
    position: absolute;
}


/* sns */

#share ul{
	height:auto;
}
#share li{
	font-size:14px;
	float:left;
	text-align:center;
	width:84px;
	margin-right:1%;
	margin-bottom:8px;
	border-radius:3px;
	list-style:none;
}
#share li.share-twitter{
	background:#55acee;
	box-shadow:0 2px #2795e9;
}
#share li.share-twitter:hover{
	background:#83c3f3;
}
#share li.share-facebook{
	background:#3b5998;
	box-shadow:0 2px #2d4373;
}
#share li.share-facebook:hover{
	background:#4c70ba;
}
#share li.share-google{
	background:#dd4b39;
	box-shadow:0 2px #c23321;
}
#share li.share-google:hover{
	background:#e47365;
}
#share li.share-hatena{
	background:#2c6ebd;
	box-shadow:0 2px #225694;
}
#share li.share-hatena:hover{
	background:#4888d4;
}
#share li.share-pocket{
	background:#f13d53;
	box-shadow:0 2px #e6152f;
}
#share li.share-pocket:hover{
	background:#f26f7f;
}
#share li.share-line{
	background:#00C300;
	box-shadow:0 2px #009d00;
}
#share li.share-line:hover{
	background:#2bd92b;
}
#share a{
	display:block;
	height:27px;
	padding-top:6px;
	color:#ffffff;
	text-decoration:none;
}
#share a:hover{
	text-decoration:none;
	color:#ffffff;
}

/*アンケート+写真*/
.message-area {
    background-color: #eee; 
}
.message-area .message-font {
    color: #333; 
    font-weight: 600;
}
.message-font {
    font-size: 30px;
}


/*===============================================
●tablet.css 画面の横幅が970pxまで
===============================================*/
@media screen and (max-width: 970px){
#editor, #anime{
	width: 100%;
	
}
}/*===============================================
●tablet.css 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){
#editor, #anime{
	width: 100%;
	
}
}
/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){
#editor, #anime{
	width: 100%;
}
svg {
	width: 100%;
}

}

