#container {
		overflow: hidden;
}
#main,#subNav{
	z-index: 2;
}
#anime{

	float : right;
	width: 66%;
	background-color: pink;
}

#ga_nap_png {
	/*z-index: -1;*/
	position: fixed;
	top: 200px;
	right:-80px;

	background-color: green;
}
#code,#define{
	float : left;
	width: 33%;
	/*background-color: red;*/
}
#sample {
	position: relative;
	top: 100px;
	/*background-color: yellow;*/
}
#footer{
	 position:relative;
	 bottom:0;
}
#code{
	font-size: 18px;
	font-family: sans-serif,"ＭＳ Ｐゴシック","MS PGothic";
}
.avoid-clicks{
  pointer-events: none;
}

.code_highlight {
    background-color:#000066;
    position: absolute;
}

